{% comment %}
  Item Sub Title
  {% render 'item-subtitle', text: 'Hello' %}
{% endcomment %}

<h3 class='text-brand-neutral-400 text-pretty text-sm font-medium'>
  {{ text | escape | default: 'Unkown Subtitle Text' }}
</h3>
