{% comment %}
  Item Title
  {% render 'item-title', text: 'Hello' %}
{% endcomment %}

<h3 class='text-md text-brand-neutral-700 text-pretty font-semibold'>
  {{ text | escape | default: 'Unkown Title Text' }}
</h3>
