{% comment %}
  Section Title
  {% render 'section-title', text: 'Hello' %}
{% endcomment %}

<h2 class='text-normal text-brand-neutral-500/75 mb-4 text-pretty px-3 text-sm uppercase tracking-wider'>
  {{ text | escape }}
</h2>
