<div class='inline-flex flex-row gap-2 rounded-lg p-1' style='background-color: {{ color }}; width: {{ width }}'>
  <div class='mt-12 flex w-full flex-row gap-2 rounded-sm bg-white/75 px-2 py-1 text-sm font-medium text-black/75 backdrop-blur'>
    {{ label }}
  </div>
</div>
