<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp" defer></script>
    <title>Flux - Shopify Template</title>
</head>
<body class="bg-neutral-100">
    {{ content_for_layout }}
</body>
</html>
