<div class='border-brand-neutral-300 text-brand-neutral-500 container fixed left-0 right-0 top-0 mx-auto max-w-xl rounded-b-lg border-b border-l border-r bg-white py-3'>
  <div class='px-6'>
    <div class='flex items-center justify-center text-sm font-medium leading-4'>
      <p>
        {{ section.settings.announcement_text }}
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free shipping on orders over $100"
    }
  ],
  "presets": [
    {
      "name": "Announcement"
    }
  ]
}
{% endschema %}
