<div class="border-b container max-w-xl mx-auto fixed top-0 left-0 right-0 bg-white border-r border-l border-neutral-300 rounded-b-lg text-neutral-500 py-3">
    <div class="px-6">
        <div class="flex leading-4 items-center justify-center text-sm font-medium">
            <p>
                {{ section.settings.announcement_text }}
            </p>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Announcement",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free shipping on orders over $100"
    }
  ],
  "presets": [
    {
      "name": "Announcement",
      "category": "Header"
    }
  ]
}
{% endschema %}