<header role='banner' class='fixed left-0 right-0 top-0 z-50 h-[80px] bg-white/75 px-6 pb-6 pt-5 backdrop-blur-3xl'>
  <div class='flex items-center justify-between'>
    <div class=' flex items-center justify-between'>
      <div class='text-3xl font-medium lowercase'>
        {% render 'link', text: shop.name, url: routes.root_url %}
      </div>
    </div>
    <div role='navigation' class='menu flex items-center justify-between gap-4'>
      <ul class='mr-4 flex items-center justify-between gap-4 text-sm'>
        {% for link in linklists['main-menu'].links %}
          <li>
            {% render 'link', text: link.title, url: link.url %}
          </li>
        {% endfor %}
      </ul>
      <ul class='flex items-center justify-between gap-4 text-sm'>
        <li>
          <a href='{{ routes.cart_url }}' class='text-brand-neutral-700 hover:text-brand-neutral-900 transition-colors'>
            {% render 'cart-icon', amount: cart.item_count, show_label: false %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "presets": [
    {
      "name": "Header",
      "category": "Header"
    }
  ]
}
{% endschema %}
