<div class='px-6'>
  <h1 class='text-brand-neutral-800 text-xl font-medium'>Scents Overview</h1>
</div>

{% schema %}
{
  "name": "Scents Overview",
  "presets": [
    {
      "name": "Scents Overview",
      "category": "Layout"
    }
  ]
}
{% endschema %}
